opencv-python-headless
streamlit==1.38.0
pillow
psutil
numpy==1.26.4
plotly
dill
streamlit-webrtc==0.47.7
av
pafy
scipy
youtube_dl==2020.12.2
pytube
huggingface_hub
yt_dlp
onnxruntime
pytubefix
torch==2.3.0
matplotlib
torchvision==0.18.0
ffmpeg
streamlit_navigation_bar
